body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 13px;
}

.Form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.FormSection {
    margin-bottom: 10px;
}

.FormSection input[type='checkbox'] {
    margin-left: 0;
    margin-right: 10px;
}

.FormSection input[type='text'],
.FormSection input[type='url'] {
    width: 250px;
    padding: 6px 10px 8px;
    border: 1px solid #d3d9de;]
    color: #000;
    background: #fff;
    -webkit-appearance: none;
    border-radius: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}